@use "global" as *;

.c-card11 {
  @include mq(sm) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: myrem(90) calc(40 / 1100 * 100%);
  }
}

.c-card11__item {
  @include mq(sm) {
    width: calc(340 / 1100 * 100%);
  }
}

.c-card11__item + .c-card11__item {
  margin-top: 41px;
  @include mq(sm) {
    margin-top: 0;
  }
}

.c-card11-item__image-wrapper {
  position: relative;
}

.c-card11-item__image {
  width: 100%;
}

.c-card11-item__image img {
  aspect-ratio: 335 / 240;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: myrem(20);
  @include mq(sm) {
    aspect-ratio: 340 / 320;
  }
}

.c-card11-item__name {
  font-size: myrem(16);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 700;
  background-color: rgba($white, 0.8);
  border-radius: 0 myrem(10) myrem(10) 0;
  padding: myrem(4) myrem(32);
  position: absolute;
  bottom: myrem(16);
  left: 0;
  @include mq(sm) {
    font-size: myrem(20);
  }
}

.c-card11-item__text {
  font-size: myrem(16);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: myrem(7);
  @include mq(sm) {
    font-weight: 500;
  }
}
