@use "global" as *;

// インナー幅＋余白
$breakpointInner: $innerWidth + strip-unit($padding-pc) * 2;

// ルートフォント設定
html {
  //  ~ 599px
  @media (max-width: 599px) {
    font-size: vw(375, 16);
  }

  // 600px ~ インナー幅＋余白
  @include mq(sm) {
    // font-size: vw(strip-unit($breakpointInner), 16);
    font-size: 100%;
  }
}

// フォント、カラー設定
body {
  font-family: $font-main;
  color: $black;
}

// ホバー
a,
button {
  @include mq(sm) {
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
