@use "global" as *;

.p-organization-news {
  @include mq(sm) {
  }
}

.p-organization-news__title {
  @include mq(sm) {
  }
}

.p-organization-news__list {
  margin-top: myrem(41);
  @include mq(sm) {
  }
}

.p-organization-news__btn {
  width: myrem(280);
  margin-top: myrem(57);
  margin-inline: auto;
  @include mq(sm) {
    margin-top: myrem(40);
  }
}
